@model IEnumerable<ABC_Retail.ViewModels.CustomerViewModel>

@{
	ViewData["Title"] = "Customers";
}
<head>
	<style>
		.btn-primary, .btn-success {
			border-radius: 10px;
			transition: background-color 0.3s ease, transform 0.3s ease;
		}

			.btn-primary:hover, .btn-success:hover {
				transform: translateY(-2px);
				background-color: #0069d9; 
			}
	</style>
</head>

<h1>Customers</h1>

@if (!Model.Any())
{
	<p>No customers available. <a href="@Url.Action("Create", "Customer")">Add a new customer</a></p>
}
else
{
	<a class="btn btn-primary mb-3" href="@Url.Action("Create", "Customer")">Add Account</a>

	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Surname</th>
				<th>Email</th>
				<th>Phone Number</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var customer in Model)
			{
				<tr>
					<td>@customer.Name</td>
					<td>@customer.Surname</td>
					<td>@customer.Email</td>
					<td>@customer.Phone</td>
					<td>
						<a href="@Url.Action("Manage", "Customer", new { id = customer.Id })" class="btn btn-primary">Manage</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
